.manage-trade-dialog {
  text-align: left;

  .modal-body {
    padding: 0;
  }

  .trade-details {
    width: 95%;
    margin: 25px 2.5%;
  }

  .bid-actions {
    background: rgb(38, 38, 38); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(38, 38, 38, 1) 0%, rgba(51, 51, 51, 1) 5%, rgba(76, 76, 76, 1) 95%, rgba(51, 51, 51, 1) 100%, rgba(38, 38, 38, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(38, 38, 38, 1)), color-stop(5%, rgba(51, 51, 51, 1)), color-stop(95%, rgba(76, 76, 76, 1)), color-stop(100%, rgba(51, 51, 51, 1)), color-stop(100%, rgba(38, 38, 38, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(38, 38, 38, 1) 0%, rgba(51, 51, 51, 1) 5%, rgba(76, 76, 76, 1) 95%, rgba(51, 51, 51, 1) 100%, rgba(38, 38, 38, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(38, 38, 38, 1) 0%, rgba(51, 51, 51, 1) 5%, rgba(76, 76, 76, 1) 95%, rgba(51, 51, 51, 1) 100%, rgba(38, 38, 38, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(38, 38, 38, 1) 0%, rgba(51, 51, 51, 1) 5%, rgba(76, 76, 76, 1) 95%, rgba(51, 51, 51, 1) 100%, rgba(38, 38, 38, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(38, 38, 38, 1) 0%, rgba(51, 51, 51, 1) 5%, rgba(76, 76, 76, 1) 95%, rgba(51, 51, 51, 1) 100%, rgba(38, 38, 38, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262626', endColorstr='#262626', GradientType=0); /* IE6-9 */
    color: #CACACA;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    width: 100%;
    box-sizing: border-box;
    display: table;
    table-layout: fixed;
    padding: 5px 10px;
  }

  .left-bid-actions {
    display: table-cell;
    width: 180px;
  }

  .right-bid-actions {
    display: table-cell;
    width: 180px;
  }

  .center-bid-actions {
    display: table-cell;
  }

  .evaluate-btn {
    width: 100%;
  }

  .slick-slider {
    margin-bottom: 0;
  }

  .requested-items {
    margin-bottom: 0;

    .slick-list {
      height: 200px;
    }
  }

  .offered-items {
    margin-bottom: 0;

    .slick-list {
      height: 200px;
    }
  }

  .slick-dots {
    bottom: 0;
  }

  .slick-prev, .slick-next {
    color: #CECECE;
  }

  .slick-prev {
    left: 10px;
  }

  .slick-next {
    right: 10px;
  }

  .other-bid-message {
    width: 100%;
  }

  .this-bid-message {
    width: 100%;
  }

}
