<div class="boxed-item">

  <div class="item-image-wrapper">
    <div class="item-image-overlay">

      <div class="left-buttons">
        <div dropdown ng-if="settings" class="btn-group">
          <button dropdown-toggle type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-cog"></span>
          </button>
          <ul class="dropdown-menu pointed-dropdown-menu" role="menu">
            <li ng-repeat="option in settings"><a ng-click="option.onSelect()">{{ option.name }}</a></li>
          </ul>
        </div>
      </div>

      <div ng-click="onItemImageClicked()" class="item-hover-details"></div>

    </div>
    <img class="item-image" ng-src="{{ itemImagePath }}"/>

    <div ng-if="selectable" class="checkbox item-select-checkbox">
      <label>
        <input ng-model="isSelected" type="checkbox"/>
      </label>
    </div>

  </div>

  <div class="item-fixed-details">
    <div class="item-name">{{ itemName }}</div>
  </div>

</div>
